body {
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
   
}

.logo {
    font-size: 35px;
    text-indent: 30px;
}
.navbar{
    width: 100%;
    position: fixed;
    padding: 20px 0;
    display: flex;
    align-items: center;
 
    color:white;
    background-color: black;
    z-index: 1;
}

.navbar a{
    text-transform: uppercase;
}

.words {
    width: 90%;
    position: relative;
    transform: translate(-50%, -50%);
    top: -30%;
    left: 50%;
    text-align: center;
    color: white;
    font-size: 40px;
}

.words span {
    display: inline-block;
    letter-spacing: 2vw;
    text-shadow: 0 15px 25px rgba(0,0,0,0.9);
    position: relative;
    transform: translateY(-100vh);
    animation: fall 3.5s forwards;
}
@keyframes fall{
    100%{
        transform: translateY(0);
    }
}

.words span:nth-child(2) {
    animation-delay: 0.5s;
}
.words span:nth-child(3) {
    animation-delay: 1.0s;
}
.words span:nth-child(4) {
    animation-delay: 1.5s;
}
.words span:nth-child(6) {
    animation-delay: 2.0s;
}
.words span:nth-child(7) {
    animation-delay: 2.5s;
}
.words span:nth-child(9) {
    animation-delay: 3.0s;
}
.words span:nth-child(10) {
    animation-delay: 3.5s;
}
.words span:nth-child(11) {
    animation-delay: 4.0s;
}
.words span:nth-child(12) {
    animation-delay: 4.5s;
}
.words span:nth-child(13) {
    animation-delay: 5.0s;
}
.words span:nth-child(14) {
    animation-delay: 5.5s;
}


.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color:white;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height:3px;
    width:0%;
    background: white;
    position:absolute;
    left:0;
    bottom:-10px;
    transition:0.5s;
}
.navbar ul li:hover::after{
    width:100%;
}
.banner img {
   width: 100%;
   height: 100%;
   padding: 20px 0;
   margin-top: 70px;

}
 .banner {
    width: 100svw;
    height: 40svw;
 }

 .imageContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    row-gap: 0rem;
    margin:50px;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
 }
 
 
 .box {
    border: solid black 2px;
    height: 200px;
    padding: 20px 0;
    margin-top: 80px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
 }

 .box-footer{
    position: absolute;
    bottom: 0;
 }

 .footer {
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
    text-align: center;
    
  }

  @media (max-width: 667px){
    .imageContainer{
        display: flex;
        flex-direction: column;
    }
    .navbar ul li{
        font-size: 13px;
    }
    .logo{
        font-size: 30px;
        margin-left: 5px;
    }
}   
@media (max-width: 800px){
    .words {
        font-size: 30px;
    } 
}

@media (max-width: 550px){
    .words {
        font-size: 20px;
    } 
}
